@import './../../styles/Variables';
@import '../../styles/Mixins';
@import '../../styles/Typography';

.CarSlider-container {
  position: relative;

  .carousel {
    height: 100vh;
    position: relative;
  }

  .CarSlider-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 50;
    width: 30%;
  }
}

.CarSlideImg .d-block .w-100 {
  @include respond(tab-landscape) {
    position: relative;
    left: -50%;
    width: 150% !important;
    margin-top: -45rem;
    margin-bottom: 45rem;
    margin-right: 0rem;
  }

  @include respond(tab-portrait) {
    position: relative;
    margin-top: -40rem;
    width: 150% !important;
    margin-bottom: 45rem;
    margin-right: 0rem;
  }

  @include respond(phone) {
    position: relative;
    margin-bottom: 45rem;
  }
}

.CarSlider-container .carousel-item {
  position: relative;
  height: 100vh;
  width: 100vw;

  img {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
  }

  @include respond(tab-landscape) {
    padding-top: 30rem;
    background-color: #000;
  }

  @include respond(tab-portrait) {
    padding-top: 38rem;
    background-color: #000;
  }

  @include respond(phone) {
    padding-top: 39rem;
  }
}

.CarSlider-container {
  display: flex;
}

.GarageSlider-content {
  position: absolute;
  align-self: center;
  z-index: 50;
  width: 30%;
  left: 10%;
  text-transform: uppercase;

  @include respond(tab-landscape) {
    width: 75%;
    bottom: -20%;
    z-index: 1;
    left: 15%;
  }

  @include respond(tab-portrait) {
    width: 75%;
    bottom: -10%;
    left: 15%;
  }

  @include respond(phone) {
    bottom: 0%;
  }
}
