@import "./../../styles/Variables.scss";

.carousel {
  position: relative;
  height: 100vh;

  // &-indicators {
  //   margin-bottom: 10rem;
  //   position: absolute;
  //   display: flex;
  //   top: 0;
  //   left: 20px;
  //   flex-direction: column;

  // & li {
  //   height: 30px;
  //   width: 5px;
  // }
}

.carousel-item {
  height: 100vh;
}

.CarSlider-content {
  position: absolute;
  z-index: 50;
  width: 30%;
  top: 25%;
  left: 10%;
  text-transform: uppercase;

  h1 {
    color: #fff;
    font-family: $header-font;
    font-style: italic;
    font-size: 6rem;
    letter-spacing: 8px;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  h5 {
    color: $main-color;
    font-weight: 600;
    letter-spacing: 1px;
  }

  p {
    text-transform: none;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: rgb(226, 226, 226);
  }
}
