@import './../../styles/Variables';
@import '../../styles/Mixins';
@import '../../styles/Typography';

.CarSlider-container {
  position: relative;

  .carousel {
    height: 100vh;
    position: relative;
  }

  .CarSlider-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 50;
    width: 30%;

    @include respond(tab-portrait) {
      width: 70%;
      left: 20%;
      top: 70%;
      transform: translateY(-70%);
    }

    @include respond(tab-portrait) {
      width: 80%;
      left: 15%;
      top: 70%;
      transform: translateY(-70%);
    }

    h1 {
      @include respond(tab-landscape) {
        font-size: 6rem;
        line-height: 6rem;
      }
    }

    h5 {
      @include respond(tab-landscape) {
        font-size: 1.8rem;
      }
    }

    p {
      @include respond(tab-landscape) {
        font-size: 2rem;
      }
    }
  }
}

.CarSlideImg .d-block .w-100 {
  @include respond(tab-landscape) {
    position: relative;
    left: -50%;
    width: 150% !important;
    margin-top: -45rem;
    margin-bottom: 45rem;
    margin-right: 0rem;
  }

  @include respond(tab-portrait) {
    position: relative;
    margin-top: -40rem;
    width: 150% !important;
    margin-bottom: 45rem;
    margin-right: 0rem;
  }

  @include respond(phone) {
    position: relative;
    margin-bottom: 45rem;
  }
}

.CarSlider-container .carousel-item {
  position: relative;
  height: 100vh;
  width: 100vw;

  img {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;

    @include respond(tab-landscape) {
      height: 60vh;
      top: 50%;
      transform: translateY(-50%);
    }

    @include respond(tab-portrait) {
      height: 60vh;
      top: 5%;
      right: 5%;

      transform: translateY(-10%);
    }

    @include respond(phone) {
      height: 50vh;
      right: -9%;
    }
  }

  @include respond(tab-landscape) {
    padding-top: 30rem;
    background-color: #000;
  }

  @include respond(tab-portrait) {
    padding-top: 38rem;
    background-color: #000;
  }

  @include respond(phone) {
    padding-top: 39rem;
  }
}

.CarSlider-container {
  display: flex;
}
