@import './../../styles/Variables';
@import './../../styles/Mixins';
@import './../../styles/Typography';

.GarageSlider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0;
  padding: 0 0;

  .slide {
    position: relative;
  }
  .carousel {
    position: relative;
    .CarSlide {
      position: absolute;
      height: 100vh;

      top: 0;
      right: -10%;
    }
    &-control-prev,
    &-control-next {
      position: absolute;
      z-index: 10;
      top: 82%;
      left: 5%;
      border: 3px solid $main-color;
      height: 10rem;
      width: 10rem;
      opacity: 1;

      &:hover {
        background-color: $main-color;
      }
    }

    &-control-next {
      bottom: 0;
      left: 95%;
      transform: translateX(-100%);
    }
  }
}

.GarageSlider-content {
  position: absolute;
  left: 5%;
  width: 30%;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;

  h1 {
    color: #fff;
    font-family: $header-font;
    font-style: italic;
    font-size: 8rem;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  img {
    margin: 2rem 0rem;
  }
  .progress {
    @include Progress-bar;
  }
}

.GarageSlider-BuyBtn {
  position: absolute;
  @include Main-btn;
  height: 10rem;
  width: 40%;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 3rem;
}

@include respond(tab-landscape) {
  padding: 0rem 0rem;
  margin-top: 10;
}

// .carousel-control-next {
//   margin-right: 10rem;

//   @include respond(phone) {
//     margin-right: 5rem;
//   }
// }

// .carousel-control-prev {
//   margin-left: 10rem;

//   @include respond(phone) {
//     margin-left: 5rem;
//   }
// }
