@import './../../styles/Variables';
@import '../../styles/Mixins';

#RaceResults {
  svg {
    color: #000;
    font-size: 3rem;
    margin-left: 2rem;
  }
}
.modal-dialog {
  max-width: 80rem;
}

.modal-content {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}
.modal-body {
  padding: 0 0;
  margin: 4rem 0;
  height: auto;
  font-size: 1.2rem;

  table {
    margin: 2rem 0;
  }

  th {
    // border: 1px solid #c46600;
    background-color: #fb9e14;
    color: #3c1200;
    padding: 1.5rem 2rem;
  }

  td {
    text-transform: none;
    border: none;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #ff8231;
    background-color: $bg-color;
  }
}

.modal-header {
  justify-content: center;
  background-color: $bg-green;
  border-bottom: 1px solid rgb(15, 15, 15);

  & .close {
    color: #fff;
    background-color: #000;
    width: 5rem;
    opacity: 1;
    font-size: 3rem;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.modal-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-left: 1rem;
  font-weight: 700;
}

.table-bordered thead td {
  border: none;
}

.PlayAgain-btn,
.Home-btn {
  @include Green-btn;
  border-radius: 0;
  box-shadow: none;
  width: 48%;
  padding: 1rem 0rem;

  &:hover {
    transform: translateY(-2px);
    background-color: $bg-green;
    color: #fff;
  }

  &:active {
    transform: translateY(-1px);
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.Home-btn {
  background-color: #000;
  border: 1px solid $border-color;
  box-shadow: none;
  margin-left: 2rem;

  &:hover {
    background-color: #fff;
    color: #000;
    box-shadow: none;
  }
}

.Result-wrapper {
  display: flex;
  justify-content: center;
  img {
    justify-self: center;
  }
}
