.DisplayQuote-previewQuote {
  border-radius: 1rem;
  width: 70%;
  text-align: left;
  font-size: 1.2vw;
  line-height: 2.5vw;
  align-self: center;
  border: 2px solid #34fffd;
  background-color: #070b24;
  box-shadow: inset 0 0 70px rgba(45, 33, 128, 0.5),
    0px 0px 20px 2px rgba(46, 33, 128, 0.8);
  justify-self: center;
  padding: 40px 80px;
}

.DisplayQuote-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  font-size: 1.8rem;
}

#DisplayQuote-inputWord {
  border-radius: 1rem;
  border: none;
  background-color: #070b24;
  color: #fff;
  margin-top: 2rem;
  align-self: center;
  height: 70%;
  width: 80%;
  font-size: 2.2vh;
  padding: 10px 80px;
}

#DisplayQuote-inputWord:focus {
  box-shadow: inset 0 0 70px rgba(45, 33, 128, 0.5),
    0px 0px 20px 2px rgba(46, 33, 128, 0.8);
  outline-color: #5effff;
  border-radius: 1rem;
}

.DisplayQuote-h1 {
  text-align: center;
  align-self: center;
  text-shadow: 0px 0px 0px black, 0 0 25px rgba(52, 255, 252, 0.5),
    0 0 5px rgba(52, 255, 252, 0.5);
}

.DisplayQuoteUI-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 10%;
  width: 70%;
  // height: 40vh;
}

.PlayGame {
  text-align: center;
  height: 100vh;
  color: white;
}
