.road {
  position: relative;
  height: 41%;
  top: 36%;
}

.Car1-img {
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 1s linear;
}

.Car2-img {
  position: absolute;
  left: 0%;
  top: 25%;
  // animation: car2 50s linear infinite;
}

.Car3-img {
  position: absolute;
  left: 0%;
  top: 50%;
  // animation: car3 55s linear infinite;
}

.Car4-img {
  position: absolute;
  top: 75%;
  bottom: 0%;
}

.Car-finish {
  position: absolute;
  top: 35%;
  transition: all 1s linear;
  animation: carfinish 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@media (max-height: 800px) {
  .road {
    position: relative;
    height: 52%;
    top: 32%;
  }

  .Car1-img {
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all 1s linear;
  }

  .Car2-img {
    position: absolute;
    left: 0%;
    top: 25%;
    // animation: car2 50s linear infinite;
  }

  .Car3-img {
    position: absolute;
    left: 0%;
    top: 50%;
    // animation: car3 55s linear infinite;
  }

  .Car4-img {
    position: absolute;
    top: 75%;
    bottom: 0%;
  }
}

@keyframes carfinish {
  from {
    left: -100px;
  }
  to {
    left: 500px;
  }
}

@keyframes car2 {
  from {
    left: 0px;
  }
  to {
    left: 2500px;
  }
}

@keyframes car3 {
  from {
    left: 0px;
  }
  to {
    left: 2500px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
