@import './../../styles/Variables';
@import './../../styles/Mixins';

.Shop-container {
  display: flex;
}

.Shop-Carlist-container {
  width: 70%;
  padding-top: 10rem;
  padding-left: 6rem;
}

.card {
  background-color: $bg-color;
  border: 1px solid $border-color;

  .card-img-top {
    width: 100%;
    padding: 2rem 6rem;
    height: auto;
    margin: 0 auto;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  .card-text {
    h5 {
      font-size: 2rem;
    }

    h1 {
      font-size: 3rem;
    }
  }
  .card-body {
    padding: 2rem 4rem;
    border-top: 1px solid $border-color;
    color: #fff;
    background-color: $bg-color;

    .progress {
      @include Progress-bar;
      width: 100%;
    }
  }
  .card-footer {
    padding: 0 0;
  }
  .Buy-Btn {
    @include Main-btn;
    width: 100%;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.UserInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10rem 2rem 0rem 5rem;
  height: 100vh;
  width: 20%;
  left: 0;
  background-color: $bg-color;
  color: #fff;
  border-right: 1px solid $border-color;

  h1 {
    letter-spacing: -2px;
    font-size: 6rem;
    margin-bottom: 0;
  }

  h5 {
    font-size: 2rem;
    font-weight: 500;
  }

  h2,
  h3 {
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: -0.5rem;
  }

  svg {
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3px;
  }

  img {
    margin-bottom: 5rem;
    width: 80%;
  }

  ul {
    padding-left: 0px;
    list-style: none;

    li {
      margin-bottom: 2rem;
    }
  }

  .border-bottom {
    background-color: $main-color;
    height: 5px;
    width: 20%;
    margin-bottom: 15rem;
    border-bottom: 0 !important;
  }
}
