@import './../../styles/Variables';
@import './../../styles/Mixins';

.UserInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10rem 2rem 0rem 5rem;
  height: 100vh;
  width: 20%;
  left: 0;
  background-color: $bg-color;
  color: #fff;
  border-right: 1px solid $border-color;

  h1 {
    letter-spacing: -2px;
    font-size: 6rem;
    margin-bottom: 0;
  }

  h5 {
    font-size: 2rem;
    font-weight: 500;
  }

  h2,
  h3 {
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: -0.5rem;
  }

  svg {
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3px;
  }

  img {
    margin-bottom: 5rem;
    width: 80%;
  }

  ul {
    padding-left: 0px;
    list-style: none;

    li {
      margin-bottom: 2rem;
    }
  }

  .border-bottom {
    background-color: $main-color;
    height: 5px;
    width: 20%;
    margin-bottom: 15rem;
  }
}
