@import './../../styles/Variables';
@import '../../styles/Mixins';
.Minimap-container {
  margin: 2rem 0rem;
}

.Minimap-bar {
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  background-color: #080808;
  border: 1px solid $border-color;
  width: 80%;
  margin: 0 auto;

  .progress-bar {
    background-color: #04ad67;
    transition: all 0.5s ease-in;
  }
}
