@import './../../styles/Variables';
@import '../../styles/Mixins';

.SocialMedia {
  position: fixed;
  justify-content: center;
  align-content: center;
  border-right: 1px solid $border-color;
  background-color: #000;
  z-index: 10;
  width: 5%;
  height: 100vh;

  @include respond(tab-landscape) {
    width: 8%;
  }

  @include respond(tab-portrait) {
    width: 8%;
  }

  @include respond(phone) {
    width: 10%;
  }
}

.SocialMedia .nav-link {
  color: $text-color;
  font-size: 3rem;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in;

  &:hover {
    color: $main-color;
    opacity: 1;
  }
  @include respond(tab-landscape) {
    font-size: 4rem;
  }

  @include respond(tab-portrait) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3rem;
  }
}
