@import './../../styles/Variables';
@import './../../styles/Mixins';

.ShopSlider-BuyBtn {
  position: absolute;
  z-index: 30;
  @include Main-btn;
  width: 40%;
  font-weight: 600;
  font-size: 2rem;
  // right: 50%;
  margin: 0 auto;
  top: 70%;
  left: 30%;
  height: 15rem;
  padding: 0 0;

  @include respond(tab-landscape) {
    padding: 0 2rem;
  }

  @include respond(tab-portrait) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}
.carousel-item {
  img {
    position: relative;
    left: 10%;
  }
}
.carousel-control-prev,
.carousel-control-next {
  border: 3px solid $main-color;
  height: 15rem;
  width: 10rem;
  opacity: 1;
  top: 70%;
  &:hover {
    background-color: $main-color;
  }
}

.carousel-control-next {
  margin-right: 10rem;
}

.carousel-control-prev {
  margin-left: 10rem;
}

.carousel-caption {
  position: fixed;
  text-align: left;
  height: 30rem;
  color: #fff;
  left: 7%;
  right: 50%;
  top: 20%;

  h3 {
    color: #fff;
    font-family: $header-font;
    font-style: italic;
    font-size: 8rem;
    letter-spacing: 2px;
    line-height: 7rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.2rem;
    margin: 2rem 0rem 1rem 0rem;
  }
  img {
    margin-top: 3rem;
    margin-left: -5rem;
  }
  .progress {
    width: 70%;
    height: 1.2rem;
    border-radius: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;

    &-bar {
      background-color: $main-color;
    }
  }
}
