@import './../../styles/Variables';
@import './../../styles/Mixins';

.ShopSlider-BuyBtn {
  position: absolute;
  @include Main-btn;
  width: 40%;
  font-weight: 600;
  font-size: 2rem;
  // right: 50%;
  margin: 0 auto;
  top: 70%;
  height: 15rem;
  padding: 0 0;

  @include respond(tab-landscape) {
    padding: 0 2rem;
  }

  @include respond(tab-portrait) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: $main-color;
  height: 15rem;
  width: 10rem;
  opacity: 1;
  top: 70%;
}

.CarSpecs {
  position: fixed;
  color: #fff;
  left: 10%;
  top: 30%;
  z-index: 3000;
}
