@import './../../styles/Variables';
@import '../../styles/Mixins';

.Background-img {
  position: relative;
  top: 10%;
  width: 90%;
  // border-radius: 1rem;
  margin: 0 auto;
  height: 46%;
  margin-bottom: 2rem;
  background-color: #080416;
  background-position: center;
  border: 1px solid $border-color;
  // animation: move-background 30s linear infinite;
  overflow: hidden;
}

@keyframes move-background {
  from {
    background-position: center left;
  }
  to {
    background-position: center right;
  }
}
