@import './../../styles/Variables';
@import '../../styles/Mixins';

.Header-signup {
  width: 40%;
  height: 100%;
  justify-content: space-between;

  @include respond(tab-portrait) {
    font-size: 1.8rem;
    width: 100%;
  }
}

.login,
.sign-up {
  width: 50%;
  height: 100%;
  font-size: 1.6rem;
  background-color: $main-color;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;

  @include respond(tab-portrait) {
    font-size: 1.8rem;
    height: 8rem;
  }
}
.sign-up {
  background-color: #fff;
  color: $bg-color;

  &:hover {
    background-color: #90061d;
    color: #fff;
  }
}
.Navbar {
  position: fixed;
  display: flex;
  z-index: 100;
  height: 8%;
  width: 100vw;
  background-color: #000;
  padding: 0 0 0 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid $border-color;

  @include respond(phone) {
    font-size: 0.5rem;
  }

  @include respond(tab-portrait) {
    font-size: 1.5rem;
    height: 8rem;
  }

  &-brand {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: $header-font;
    background-color: $main-color;
    height: 100%;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    width: 20%;

    @include respond(tab-landscape) {
      font-size: 3rem;
    }

    @include respond(tab-portrait) {
      font-size: 2.8rem;
      width: 36%;
    }

    @include respond(phone) {
      font-size: 2.5rem;
      width: 40%;
    }

    & a {
      align-self: center;
      color: #fff;
      padding: 0 0;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $text-color;
  padding: 0 0;
  letter-spacing: 1px;
  margin-left: 5rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    border-bottom: 3px solid $main-color;
    color: #fff;

    @include respond(tab-portrait) {
      border-bottom: 1px solid $border-color;

      color: $main-color;
    }
  }

  @include respond(tab-portrait) {
    margin-left: 0;
    font-size: 2.5rem;
    padding: 2rem 10rem;
    background-color: #000;
    border-bottom: 1px solid $border-color;
  }

  @include respond(phone) {
    margin-left: 0;
    font-size: 2.5rem;
    padding: 2rem 8rem;
    background-color: #000;
    border-bottom: 1px solid $border-color;
  }
}

#responsive-navbar-nav {
  height: 100%;
}
.navbar-toggler {
  height: 100%;
  padding: 0 2rem;
  border-left: 2px solid $border-color;
  font-size: 4rem;
}
