@import './../../styles/Variables';
@import '../../styles/Mixins';

.PlayNow-container {
  position: fixed;
  display: flex;
  background-color: #000;
  bottom: 0;
  right: 0;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  z-index: 2;
  justify-self: flex-end;
  width: 70vw;
  height: 15%;
  align-content: center;
  justify-content: space-between;

  @include respond(phone) {
    width: 100%;
  }

  &:before {
    content: ' ';
    position: absolute;
    border-left: 1px solid $border-color;
    height: 20rem;
    width: 10rem;
    transform: rotate(45deg);
    top: 0.6rem;
    left: -8.7rem;
    background: #000;

    @include respond(phone) {
      display: none;
    }
  }
}

.PlayNow-current,
.PlayNow-specs {
  align-self: baseline;
  margin: 2rem 2rem;
  z-index: 15;
  color: $text-secondary;
  text-transform: uppercase;
  letter-spacing: 2px;

  p {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  h5 {
    letter-spacing: 1px;
    font-size: 1.6rem;
    color: #fff;
  }
  @include respond(phone) {
    display: none;
  }
}

.PlayNow-content {
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;

  @include respond(tab-portrait) {
    margin-right: 1rem;
  }

  img {
    align-self: center;
    max-width: 300px;
    max-height: 75px;
    width: auto;
    height: auto;
    @include respond(tab-landscape) {
      max-width: 200px;
      max-height: auto;
    }
    @include respond(tab-portrait) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }
}
.PlayNow-btn {
  @include Main-btn;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  height: 100%;
  padding: 0 0;
  margin: 0 0;

  @include respond(tab-landscape) {
    padding: 0 2rem;
  }

  @include respond(tab-portrait) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}
