@import './../../styles/Variables';
@import '../../styles/Mixins';
@import '../../styles/Typography';

.PlayNow-container {
  position: fixed;
  display: flex;
  background-color: #000;
  bottom: 0;
  right: 0;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  z-index: 2;
  justify-self: flex-end;
  width: 70vw;
  height: 15%;
  align-content: center;
  justify-content: space-between;

  @include respond(phone) {
    width: 100%;
  }

  &:before {
    content: ' ';
    position: absolute;
    border-left: 1px solid $border-color;
    height: 20rem;
    width: 10rem;
    transform: rotate(45deg);
    top: 0.6rem;
    left: -8.7rem;
    background: #000;

    @include respond(phone) {
      display: none;
    }
  }
}

.PlayNow-current,
.PlayNow-specs {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  align-self: baseline;
  margin: 2rem 2rem;
  z-index: 15;
  color: $text-secondary;
  text-transform: uppercase;
  letter-spacing: 2px;

  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h5 {
    letter-spacing: 1px;
    font-size: 1.6rem;
    color: #fff;
  }
  @include respond(phone) {
    display: none;
  }
}
.PlayNow-current {
  width: 30%;
}

.PlayNow-specs {
  width: 30%;
  .progress {
    @include Progress-bar;
    height: 1.7rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }
}

.PlayNow-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-right: 2rem;

  @include respond(tab-portrait) {
    margin-right: 1rem;
  }

  img {
    align-self: center;
    height: 50%;
    margin: 0rem 3rem;

    @include respond(tab-landscape) {
      max-width: 200px;
      max-height: auto;
    }
    @include respond(tab-portrait) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }
}

.PlayNow-btn {
  @include Main-btn;
  width: 45%;
  margin: 0 0;
  text-align: center;

  @include respond(tab-landscape) {
    padding: 0 2rem;
  }

  @include respond(tab-portrait) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

a.PlayNow-btn {
  text-decoration: none;
  color: #fff;
  padding: 6rem 0;
  font-size: 2rem;
  transition: all 0.3s $cubic;

  @include respond(big-desktop) {
    padding: 4.5rem 0;
  }
  @include respond(tab-landscape) {
    padding: 6rem 0;
  }

  @include respond(phone) {
    width: 1000vw;
  }

  &:hover {
    background-color: $bg-green;
  }
}
