//MEDIA QUERIES
/* 

0 - 600px:  Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800]: Normal Styles
1800px + : Big Desktop

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-portrait {
    @media (max-width: 990px) {
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// BUTTONS
@mixin Main-btn {
  margin-right: 1rem;
  width: 10rem;
  background-color: $main-color;
  border: none;
  border-radius: 0;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

@mixin Box-shadow {
  box-shadow: inset 0 0 70px rgba(55, 223, 136, 0.4),
    0px 0px 10px 2px rgba(0, 255, 123, 0.3);
}

@mixin Box-highlight {
  box-shadow: inset 0 0 70px rgba(0, 255, 123, 0.578),
    0px 0px 30px 2px rgba(20, 248, 130, 0.367);
}

@mixin Green-btn {
  @include Main-btn;
  @include Box-shadow;
  border-radius: 1rem;
  background-color: $bg-green;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  transition: all 0.2s ease-in;
  outline: none;

  &:hover {
    @include Box-highlight;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

@mixin onHover-transform {
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(-1px);
  }
}

@mixin Progress-bar {
  background-color: transparent;
  border: 1px solid $border-color;
  width: 70%;
  height: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9rem;

  &-bar {
    background-color: $main-color;
  }
}
