@import './../../styles/Variables';
@import '../../styles/Mixins';

h1,
h3,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-family: $header-font;
  font-size: 9rem;
  font-weight: 900;
  font-style: italic;
  color: #fff;
  line-height: 8rem;
  letter-spacing: 8px;
  margin-bottom: 2rem;

  @include respond(tab-landscape) {
    font-size: 8rem;
    line-height: 7rem;
  }

  @include respond(tab-portrait) {
    font-size: 7rem;
    line-height: 6rem;
  }
}

h5 {
  color: $main-color;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;

  @include respond(tab-landscape) {
    font-size: 2.2rem;
  }

  @include respond(tab-portrait) {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3.3rem;
  }
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 2rem 0rem 1rem 0rem;
}

p {
  text-transform: none;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;

  @include respond(tab-landscape) {
    font-size: 2.6rem;
    line-height: 4rem;
  }
}
