$main-color: #d40d2e;
$bg-color: #151515;
$text-color: #fff;
$border-color: #383838;
$text-secondary: #888888;
$bg-green: #04ad67;
$header-font: 'Nunito Sans', sans-serif;

@mixin Main-btn {
  margin-right: 1rem;
  width: 10rem;
  background-color: $main-color;
  border: none;
  border-radius: 0;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;
}

@mixin Box-shadow {
  box-shadow: inset 0 0 70px rgba(55, 223, 136, 0.4),
    0px 0px 20px 2px rgba(55, 223, 136, 0.3);
}
