$main-color: #d40d2e;
$bg-color: #020202;
$text-color: #fff;
$border-color: #383838;
$text-secondary: #888888;
$bg-green: #04ad67;
$header-font: 'Nunito Sans', sans-serif;

//ANIMATIN

$cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
