.TypingSpeed-wpm,
.NosGauge-wpm {
  background-color: transparent;
  align-self: center;
  justify-content: center;
  color: #ffc900;
}

.TypingSpeed-num,
.NosGauge-num {
  text-shadow: 0px 0px 0px black, 0 0 65px rgba(45, 33, 128, 0.9),
    0 0 5px rgba(52, 255, 253, 0.3);
  color: #fff;
  align-self: center;
  justify-self: center;
  font-size: 5vw;
  font-weight: 700;
}
.TypingSpeed-num-sm,
.NosGauge-num-sm {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 700;
  justify-content: center;
  color: #34fffd;
  text-shadow: 0px 0px 0px black, 0 0 25px rgba(45, 33, 128, 0.5),
    0 0 5px rgba(52, 255, 253, 0.3);
}

.CarGauge,
.NosGauge {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  box-shadow: inset 0 0 40px rgba(45, 33, 128, 0.5),
    0px 0px 10px 2px rgba(45, 33, 128, 0.5);
  background-color: rgba(7, 11, 36, 0.3);
  border: 2px solid rgba(94, 255, 255, 0.5);
}

.CarGauge-border,
.NosGauge-border {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: inset 0 0 70px rgba(45, 33, 128, 0.8),
    0px 0px 20px 2px rgba(46, 33, 128, 0.809);
  border: 3px solid #5effff;
  border-radius: 50%;
  height: 15vw;
  width: 20vw;
}

.NosGauge-border {
  border: 3px solid #4fffa4;
  box-shadow: inset 0 0 70px rgba(55, 223, 136, 0.4),
    0px 0px 20px 2px rgba(55, 223, 136, 0.3);
}

.NosGauge {
  border: 3px solid #4fffa4;
  box-shadow: inset 0 0 70px rgba(55, 223, 136, 0.2),
    0px 0px 20px 2px rgba(55, 223, 136, 0.2);
}

.CarGauge-border {
  margin-left: 80px;
}
.NosGauge-num-sm {
  color: #4fffa4;
}

.NosGauge-border {
  margin-right: 80px;
}
