@import './../../styles/Variables';
@import '../../styles/Mixins';

.modal-content {
  border: 1px solid $border-color;
  border-radius: 0;
  .register {
    @include Green-btn;
    border-radius: 0;
    margin-top: 2rem;
    padding: 2rem 0rem;
    width: 100%;

    &:hover {
      transform: translateY(-2px);
      background-color: $bg-green;
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}
.form-group {
  .form-label {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  .form-control {
    padding: 2rem 2rem;
    margin-left: 2rem;
    width: 88%;
    align-content: flex-start;
  }

  input[placeholder] {
    font-size: 1.8rem;
  }
}
